
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Colors
$white-opaque: rgba(255, 255, 255, .5);
$white: rgba(255, 255, 255, 1);
$ivory: rgba(245, 249, 226, 1);
$ivory-opaque: rgba(245, 249, 226, .5);
$blue: rgba(10, 51, 149, 1);

//Fonts
$primary-font: serif;
$fancy-font: 'Tangerine', cursive;

//Font Sizes
$lg-font: 6vw;
$med-font: 3.5vw;
$sm-font: 1.7vw;
$xs-font: 1.2vw;


body {
    font-size: $sm-font;
    font-family: $primary-font;
}

figure {
    margin-bottom: 0;
}


//Backgrounds
.light-bg {
    padding: 0;
    background-color: $ivory;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.dark-bg {
    background-image: url('/images/blue-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.home {
    height: 75vh;
    box-shadow: 0 4px 7px 0 rgba(50, 50, 50, 0.3);
}

.master {
    height: 100%;
}

.angled {
    height: 200vh;
    -webkit-clip-path: polygon(0 0, 200rem 0, 200rem 10%, 0 95%);
    clip-path: polygon(0 0, 200rem 0, 200rem 10%, 0 95%);
}


//Page Content
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.master-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5;
}

.contact {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 3rem;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        font-family: $fancy-font;
        font-size: $med-font;
        color: $blue;
    }
}

.about {
    position: relative;
    padding: 0;
    background-color: $ivory;
    height: 200vh;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.about-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    padding-bottom: 5rem;
}

.about-linda {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 65vh;
    margin: 0 7rem;
    header {
        padding-bottom: 2rem;
        font-family: $fancy-font;
        font-size: $med-font;
        color: $blue;
    }
}


//Borders
.white-border {
    border: 10px solid $white;
    box-shadow: 0 7px 8px 0 rgba(50, 50, 50, 0.55);
}


//Images
.banner-img {
    border: 10px solid $white;
    max-width: 100%;
    height: auto;
}

.linda-pic {
    border: 10px solid $white;
    max-width: 100%;
    height: auto;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
    background-color: darkgray;
    padding: 5rem 0;
    .lg-gallery-img {
        max-height: 428px;
        .lg-img {
            max-height: 428px;
            max-width: 100%;
            border: 2px solid $white;
        }
    }
    .sm-gallery-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1em;
        max-height: 202px;
        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .sm-img {
            max-height: 202px;
            max-width: 100%;
            border: 2px solid $white;
        }
    }
}

.slide-two {
    .sm-img-two {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .sm-img-three {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

.slide-three {
    .sm-img-two {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .sm-img-three {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .sm-img-four {
        grid-row: 2/3;
        grid-column: 3/4;
    }

}

.slide-four {
    .sm-img-one {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .sm-img-two {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .sm-img-three {
        grid-row: 2/3;
        grid-column: 3/4;
    }
}

.gallery-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    font-family: $fancy-font;
    font-size: $med-font;
    color: $blue;

}


//Navigation
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;

    header {
        padding-left: 2rem;
    }
    nav {
        text-align: end;
        padding-right: 2rem;
    }
    header a {
        &:link { color: $white; }
        &:visited { color: $white; }
        &:hover { color: $white; text-decoration: none; }
        &:active { color: $white; }
        font-family: $fancy-font;
        text-shadow: 1.5px 2px 1px rgba(120, 120, 120, 1);
        .title {
            font-size: $lg-font;
            border: 1px solid red;
        }
        .title-description {
            display: flex;
            justify-content: flex-end;
            font-size: $sm-font;
            border: 1px solid green;
        }
    }
}

nav a {
    &:link { color: $white; }
    &:visited { color: $white; }
    &:hover { color: $white; text-decoration: none; }
    &:active { color: $white; }
    padding: 0 0 0 3.5rem;
}

//Forms
.email-form {
    font-size: $xs-font;
    background-color: $ivory;
    padding: 2rem;
    height: 100%;
    form {
        display: flex;
        .form-column {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 3rem;
            label {
                color: $blue;
            }
            .message {
                height: 20rem;
                margin-bottom: 1.3rem;
            }
            .submit {
                width: 30%;
                align-self: flex-end;
                color: $blue;
            }
        }
    }
}

