
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Colors
$white-opaque: rgba(255, 255, 255, .5);
$white: rgba(255, 255, 255, 1);
$ivory: rgba(245, 249, 226, 1);
$ivory-opaque: rgba(245, 249, 226, .5);
$blue: rgba(10, 51, 149, 1);

//Fonts
$primary-font: serif;
$fancy-font: 'Tangerine', cursive;

//Font Sizes
$lg-font: 6vw;
$med-font: 3.5vw;
$sm-font: 1.7vw;
$xs-font: 1.2vw;


body {
    font-size: $sm-font;
    font-family: $primary-font;
}


//Backgrounds
.light-bg {
    padding: 0;
    background-color: $ivory;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.dark-bg {
    background-image: url("http://bgfons.com/uploads/lines/lines_texture1086.jpg");
    background-size: cover;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.home {
    height: 75vh;
    box-shadow: 0 4px 7px 0 rgba(50, 50, 50, 0.3);
}

.master {
    height: 100%;
}

.angled {
    height: 200vh;
    -webkit-clip-path: polygon(0 0, 200rem 0, 200rem 10%, 0 95%);
    clip-path: polygon(0 0, 200rem 0, 200rem 10%, 0 95%);
}


//Page Content
.master-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5;
}

.page-content {
    margin-top: 1rem;
    width: 100%;
}

.contact {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 3rem;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        font-family: $fancy-font;
        font-size: $med-font;
        color: $blue;
    }
}

.about {
    position: relative;
    padding: 0;
    background-color: $ivory;
    height: 200vh;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.about-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    padding-bottom: 5rem;
}

.about-linda {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 65vh;
    margin: 0 7rem;
    header {
        padding-bottom: 2rem;
        font-family: $fancy-font;
        font-size: $med-font;
        color: $blue;
    }
}


//Borders
.white-border {
    border: 10px solid $white;
    box-shadow: 0 7px 8px 0 rgba(50, 50, 50, 0.55);
}


//Images
//Crop actual images to correct size and make responsive
.featured-images {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
}

.image1, .image2, .image3 {
    height: 30rem;
    width: 25rem;
    background-size: cover;
}

.image1 {
    background-image: url("https://media1.popsugar-assets.com/files/thumbor/6SxD03f061vmxXePbeBzVbn-Dkk/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2013/04/15/1/192/1922564/787b0dc7ea090bbc_il_fullxfull.422683369_8j6t/i/Melinda-Rose-Design-bridal-mini-hat-veil-175-emotes-sweet.jpg");
}
.image2 {
    background-image: url("https://glamfashion.net/wp-content/uploads/2017/08/1502448076_727_wedding-hairstyle-ideas-wedding-veil-styles-youll-love.jpg");
}
.image3 {
    background-image: url("https://i.pinimg.com/736x/38/45/cb/3845cb4e0a8bebdcc8f26a266ae1a56a.jpg");
}

.linda-pic {
    background-image: url("/images/mom-pic.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: inherit;
    padding: 0;
    margin: 0 7rem 0 15rem;
    height: 500px;
}


//Navigation
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;

    header {
        padding-left: 2rem;
    }
    nav {
        text-align: end;
        padding-right: 2rem;
    }
    header a {
        &:link { color: $white; }
        &:visited { color: $white; }
        &:hover { color: $white; text-decoration: none; }
        &:active { color: $white; }
        font-family: $fancy-font;
        font-size: $lg-font;
        text-shadow: 1.5px 2px 1px rgba(120, 120, 120, 1);
    }
}

nav a {
    &:link { color: $white; }
    &:visited { color: $white; }
    &:hover { color: $white; text-decoration: none; }
    &:active { color: $white; }
    padding: 0 0 0 3.5rem;
}

//Forms
.email-form {
    font-size: $xs-font;
    background-color: $ivory;
    padding: 2rem;
    height: 100%;
    form {
        display: flex;
        .form-column {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 3rem;
            label {
                color: $blue;
            }
            .message {
                height: 20rem;
                margin-bottom: 1.3rem;
            }
            .submit {
                width: 30%;
                align-self: flex-end;
                color: $blue;
            }
        }
    }
}

